@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Cairo&family=Open+Sans&family=Poppins:wght@700&display=swap');
:root {
    --main-color: #5694FF;
    --sec-color: #002568;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--main-color);
}
img {
    max-width: 100%;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 950px;
    }
}

/* --- nav --- */
.logo {
    display: flex;
    align-items: center;
}
.logo-dark {
    display: none
}

header .container {
    padding-top: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .close-nav nav {
    display: none;
}

.container .menu {
    padding: 1em 0 1em 1em;
    cursor: pointer;
    z-index: 3;
}

.menu span {
    display: block;
    width: 17px;
    height: 2px;
    background: #fff;
    position: relative;
    direction: rtl;
    transition: .3s;
}
.menu span::before, .menu span::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    top: -7px;
    background: #fff;
}
.menu span::after {
    top: 7px;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
nav ul {
    list-style: none;
    text-align: center;
}
nav li {
    margin-bottom: 1.5em;
}
nav li:last-child {
    margin-bottom: 2.5em;
}
nav li a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

.open-nav nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

nav {
    width: 100vw;
    height: 100vh;
    background: var(--sec-color);
    transform: translateX(0);
    transition: .5s;
}

.open-nav .menu span {
    width: 24px;
}

.cta {
    display: none;
}

.cta, .nav-cta {
    font-family: 'Poppins', sans-serif;
    background: var(--sec-color);
    color: #fff;
    padding: 1em 2em;
    border: 1px solid #fff;
    border-radius: 41px;
    outline: none;
    cursor: pointer;
    transition: color .2s, background-color .2s;
}
.nav-cta:hover {
    background: #fff;
    color: var(--sec-color)
}

.close-nav nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(100%);
}

@media (min-width: 480px) {
    .close-nav .menu {
        display: none;
    }

    .container nav {
        position: unset;
        transform: initial;
        width: unset;
        height: unset;
        background: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        display: flex;
        align-items: center;
    }
    nav ul li {
        margin-bottom: 0;
        padding-bottom: 0;
    }
    nav ul li:not(:first-child) {
        margin-left: 1em;
        margin-bottom: 0;
    }
    nav ul li a{
        font-size: 1rem;
    }

    .cta, .nav-cta {
        display: none;
    }
}

@media (min-width: 768px) {
    .logo-white {
        display: none;
    }
    .logo-dark {
        display: flex;
    }

    nav {
        justify-content: space-between;
    }

    .cta {
        display: inline;
        background: transparent;
        color: var(--sec-color);
        border: 1px solid var(--sec-color);
    }
    .cta:hover {
        background: var(--sec-color);
        color: #fff;
    }
}

/* --- main --- */

main {
    height: calc(100vh - 72.66px);
    display: grid;
    place-content: center;
    margin-top: -3em;
}

main .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.left h1 {
    font-family: 'Antonio', sans-serif;
    font-size: 3rem;
    letter-spacing: 3px;
}

.left h1 span {
    position: relative;
    display: inline-block;
}

.left h1 span::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 3px;
    z-index: -1;
    display: block;
    width: 115px;
    height: 12px;
    background: #fff;
}

.left p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6875rem;
    color: #E1EBFE;
    margin-top: 1em;
    margin-bottom: 4em;
}

.btns .cta {
    display: inline;
    border-color: var(--sec-color);
    background: var(--sec-color);
    color: #fff;
}
.btns .cta:hover {
    border-color: #fff;
    background: #fff;
    color: var(--sec-color);
}

.btns p {
    font-size: .9rem;
    color: #fff;
}
.btns p a {
    color: #005BFF;
}

img.right {
    width: 450px;
    position: fixed;
    right: -100px;
    bottom: 0;
    opacity: .5;
    z-index: -1;
}

@media (min-width: 480px) {
    main {
        margin-top: -1em;
    }

    .left p {
        font-size: .9rem;
        color: #fff;
    }
}

@media (min-width: 768px) {
    main {
        margin-top: 0;
    }

    main .container {
        display: flex;
    }

    main .left {
        align-items: flex-start;
        text-align: left;
    }

    main .left h1 {
        color: #fff;
    }

    .left h1 span::before {
        right: -5px;
        bottom: 0;
        width: 120px;
        height: 15px;
        background: var(--sec-color);
    }

    main .left p {
        color: #E1EBFE;
    }

    .btns {
        display: flex;
        align-items: center;
    }
    .btns p {
        margin: 0;
        margin-left: 1em;
        font-size: .8rem;
    }

    img.right {
        position: unset;
        width: 800px;
        opacity: 1;
    }
}

@media (min-width: 1000px) {
    main .left h1 {
        width: 70%;
    }

    img.right {
        width: 900px;
        margin-right: -3em;
        margin-top: -3em;
    }
}